body {
    background-color: #ffffff;
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif,sans-serif;
    text-align: center;
}
header{
    background-color: #13436d;
    color: white;
    padding: 10px ;
    text-size-adjust: 15px;
}
nav a {
    text-decoration:none;
    color:rgb(255, 255, 255);
    margin-right: 15px;
    text-size-adjust: 15px;
 }
 nav a:hover{
text-decoration: underline;
 }
    
